body {
    font-size: 24px;
}
/*Класс color: green (удалить) не соответствует тексту
Достаточно одного класса color: red чтобы оба абзаца были окрашены в красный цвет.*/
p.red {
    color: red;
}
/*Класса italic (курсив) нет в тексте для выполнения задачь он не требуется
p.italic {
    font-style: italic;
}*/
p.bold {
    font-weight: bold;
}
li.green {
    color: green;
}
li.red {
    color: red;
}
span.xxsmall {
    font-size: 10px;
}
span.xsmall {
    font-size: 20px;
}
span.small {
    font-size: 30px;
}
span.medium {
    font-size: 40px;
}
span.large {
    font-size: 50px;
}
span.xlarge {
    font-size: 60px;
}
span.xxlarge {
    font-size: 70px;
}
