body {
    font-size: 24px;
}
/*В файле есть классы для выделения текста двумя цветами (красным и зеленым). в описании 1 задания нет такого элемента.
классы
span.red {
    color: red;
}
span.green {
    color: green;
} здесь не требуются.*/
